.contact-container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

.contact-container ul a {
    text-decoration: none;
    transition: transform .2s;
}

.contact-container ul a:hover {
    transform: scale(1.5);
}

.contact-container ul a:nth-child(1), a:nth-child(4) {
    color: #000;
}

.contact-container ul a:nth-child(2) {
    color: #ff0000;
}

.contact-container ul a:nth-child(3) {
    color: #0077B5;
}