.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    animation: loading 2s linear infinite;
}

.bubble-1,
.bubble-2,
.bubble-3 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #5F259F;
}

.bubble-2 {
    top: auto;
    bottom: -50px;
    background-color: #a562ed;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}